.cal_calendar
{
        border:1px solid #337a8e;
        padding:1px;
        
        width:216px;
        
        height:160px;
        margin-left: -2px;
       
}
.cal_calendar td
{
       
}
.cal_calendar td
{
        border:0px;
        background-color:#ffffff;
        text-align:center;
                width:60px;
                height:30px;
}
.cal_today
{
        color:red;
                font-weight:bold;
}
.cal_days_bef_aft
{
        color:black;
        width:60px
}